<section class="hero is-dark is-bold is-fullheight">
  <div class="hero-head">
    <app-header></app-header>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <figure class="image is-96x96">
            <img src="assets/cards.png">
          </figure>
        </div>
        <div class="column is-4">
          <h1 class="title is-size-1">
            Join a room
          </h1>
          <h2 class="subtitle is-size-3">
            or <a href="/host" class="has-text-warning" style="text-decoration: underline;">host your own!</a>
          </h2>
        </div>
        <div class="column is-4">
          <div class="field has-addons">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-large is-uppercase" type="text" placeholder="Room Code" autofocus maxlength="4">
              <span class="icon is-medium is-left">
                <i class="fas fa-key"></i>
              </span>
              <span class="icon is-medium is-right">
                <i class="fas fa-arrow-right"></i>
              </span>
            </div>
            <div class="control">
              <a class="button is-info is-large">
                Join
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="content has-text-centered has-text-weight-light is-size-7 mb-1">
      <a target="_blank" href="https://icons8.com/icons/set/cards" class="has-text-link-light">Cards icon</a> icon by <a target="_blank" href="https://icons8.com" class="has-text-link-light">Icons8</a>
    </div>
  </div>
</section>
